<!DOCTYPE html>
<html>
<link rel="stylesheet" href="./css/styles.css"/>
    <script src="./js/app.js"></script>

<head>
            <title>About</title>
            <link rel="icon" href="/img/weather.png"/>


</head>
<body>
        <div class="main-content">

          {{>header}}

     <h1>About Page</h1>
          <img class="portrait" id="me_img" src="./img/me.JPG"/>
</div>

          {{>footer}}

</body>

</html>