<!DOCTYPE html>
<html>
   <link rel="stylesheet" href="./css/styles.css"/>
    <script src="./js/app.js"></script>

<head>
        <title>Help</title>
       <link rel="icon" href="/img/weather.png"/>

</head>
<body>
            <div class="main-content">

             {{>header}}
            <p>Use this site to get HELP</p>
            </div>
     
            {{>footer}}

</body>

</html>